{% extends "layout.html" %}

{% block page_title %}关于联友科技 Mysql DBA 自动化运维平台{% endblock %}
{% block page_id %}page-about{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h2>联友科技 Mysql DBA 自动化运维平台</h2>

         <p>
            联友科技 Mysql DBA 自动化运维平台 &nbsp;
         </p>

         <p><b>关于联友科技 Mysql DBA 自动化运维平台</b></p>

         <p></p>

         <p></p>

         <p><b>关于作者</b></p>

         <p>
            David.ding，联友科技 Mysql DBA。
         </p>

         <p>联系方式：dingyiran2000@qq.com</p>
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}