.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
  float: left;
  display: block;
  z-index: 1000;
  background: #34393d;
  color: #8f908f;
  overflow: auto;
}
.sidebar .nav .nav {
  position: relative;
  display: none;
  background: #404549;
  padding: 8px 0 12px;
  font-size: 16px;
  border-bottom: 1px solid #5c6369;
}
.sidebar .nav .nav a {
  text-indent: 22px;
  padding: 6px 16px 6px 28px;
}
.sidebar .nav  > li > a {
  color: #8f908f;
}
.sidebar .nav  > li > a:hover,
.sidebar .nav  > li > a:focus {
  color: #fff;
  background: #5c6369;
}
.sidebar-header {
  position: relative;
  height: 48px;
}
.sidebar-header .sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 33px;
  padding: 5px 6px;
  font-size: 24px;
  cursor: pointer;
}
.nav-sub .fa-caret-down {
  display: none;
  position: absolute;
  top: -13px;
  font-size: 36px;
  right: 15px;
  color: #5c6369;
}

}
/* Sidebar navigation */
.nav-sidebar {
  margin-left: -15px;
  margin-right: -15px;
}
.nav-sidebar  > li  > a {
  padding: 10px 16px 10px 28px;
  font-size: 16px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.nav-sidebar  > li.opened > a {
  color: #fff !important;
  background: #106981 !important;
}
.nav-sidebar  > li.opened > ul.nav {
  overflow: hidden;
  display: block;
}
.nav-sidebar  > li.opened .fa-caret-down {
  display: block;
  color: #19a0c5;
}
.nav-sidebar  > li .actived a {
  color: #fff;
  background: #5c6369;
}
